<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
    <configSections>
    <section name="insightSettings" type="ReflectSoftware.Insight.ConfigurationHandler,ReflectSoftware.Insight" />
  </configSections>

  <insightSettings>
    <baseSettings>
      <configChange enabled="true" />
      <enable state="all" />
      <propagateException enabled="false" />
      <exceptionEventTracker time="20" />
      <debugMessageProcess enabled="true" />
    </baseSettings>

    <!-- Auto Save File -->
    <files default="">
      <autoSave name="DefaultSave" onNewDay="true" onMsgLimit="1000000" onSize="0" recycleFilesEvery="30" />
    </files>

    <messagePatterns>
      <messagePattern name="pattern1" pattern="[%time{yyyyMMdd, HH:mm:ss.fff}%] - %message%,&amp;#xA;%threadid%&amp;#xA;[%messagetype%]" />
    </messagePatterns>

    <!-- Listener Groups -->
    <listenerGroups active="Debug">
      <group name="Debug" enabled="true" maskIdentities="false">
        <destinations>
          <destination name="Viewer" enabled="true" details="Viewer" />
          <destination name="BinaryFile" enabled="true" filter="" details="BinaryFile[path=$(workingdir)\Logs\Log.rlg; autoSave=save1]" />
          <destination name="TextFile" enabled="true" filter="ErrorWarningFilter" details="TextFile[path=$(workingdir)\Logs\ErrorLog.txt; messageDetails=Message|Details; messagePattern=pattern1; autoSave=save1]" />
        </destinations>
      </group>
    </listenerGroups>

    <!-- Log Managers -->
    <logManager default="common">
      <instance name="common" category="Common" />
    </logManager>

    <!-- Exception Management -->
    <exceptionManagement mode="on">
      <publisher mode="off" name="LogTextEventPublisher" type="RI.Utils.ExceptionManagement.ExceptionLogTextFilePublisher, ReflectSoftware.Insight" filePath="$(workingdir)\Logs\ri_exceptions.txt" recycle="7" />
    </exceptionManagement>

    <!-- Message Filters -->
    <filters>
      <filter name="ErrorWarningFilter" mode="Include">
        <method type="SendError" />
        <method type="SendException" />
        <method type="SendFatal" />
      </filter>
    </filters>
  </insightSettings>

  
  
  
  
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
    <generatePublisherEvidence enabled="false" />
    <legacyCorruptedStateExceptionsPolicy enabled="true" />
    <loadFromRemoteSources enabled="true" />
    <nodeRunnerSettings memoryLimitMegabytes="0" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>




</configuration>
